@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #5E807F;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
  min-height: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h1, h2 {
  color: #fff;
}
.preto {
  color: #000;
}

h3 {
  color: #999;
}

.btn {
  background: #335251;
  font-size: 20px;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 30px;
}
.btn:hover {
  color: black;
  background: #fff;
  border: 2px solid #041e42;

}
.btn-red {
  padding: 6px 6px;
  text-align: center;
  border-radius: 15px;
  background-color: #a51b0b;
}
.btn-red:hover {
  background-color: #c4c4c4;

}
.btn-green {
  padding: 6px 6px;
  text-align: center;
  border-radius: 15px;
  background-color: #228b22;
}
.btn-green:hover {
  background-color: #c4c4c4;

}

.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 10px;
  border-bottom: 2px solid #999;
}

table {
  padding: 10px;
}
th,
td {
  text-align: left;
  padding-top: 15px;
}

.side-menu {
  position: fixed;
  background: #335251;
  width: 25vw;
  min-height: 100vw;
  display: flex;
  flex-flow: column wrap;
  text-align:left;
  z-index: 999;
  text-decoration: none;
}

.side-menu .brand-name {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-menu li a {

  font-size: 24px;
  color: #fff;
  display: flex;
  align-items:flex-start;
  padding-top: 15px;
  text-decoration: none;

}

.side-menu li a:hover {
  background-color: #fff;
  color: #000;
}

.container {
  position: absolute;
  right: 0;
  width: 75vw;
  height: 100vh;
  background: #c4c4c4;
}
.container .jx {
  position: absolute;
  flex: 2;
  background: #fff;
  max-height: 50vh;
  margin: 0 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}

.container .header {
  position: fixed;
  top: 0;
  right: 0;
  width: 80vw;
  height: 10vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.container .header .nav {
  width: 90%;
  display: flex;
  align-items: center;
}

.container .header .nav .search {
  flex: 3;
  display: flex;
  justify-content: center;
}

.container .header .nav .search input[type="text"] {
  border: none;
  background: #f1f1f1;
  padding: 10px;
  width: 50%;
}

.container .header .nav .search button {
  width: 40px;
  height: 40px;
  border: none;
}

.container .header .nav .search button img {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .header .nav .user {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .header .nav .user img {
  width: 40px;
  height: 40px;
}
.container .header .nav .user .img-case {
  position: relative;
  width: 50px;
  height: 50px;
}

.container .header .nav .user .img-case a {
  position: absolute;
  top: 0px;
  left: 0;
  width: 150%;
  height: 100%;
}

.container .content {
  position: relative;
  margin-top: 10vh;
  min-height: 90vh;
  background: #f1f1f1;
}
.container .content .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .content .cards .card {
  width: 20%;
  height: 20%;
  background-color: #fff;
  margin: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .content-2 {
  min-height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.container .content .content-2 .recent-payments {
  min-height: 60vh;
  flex: 4;
  background: #fff;
  margin: 0 20px 20px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}

.container .content .content-2 .new-students {
  flex: 3;
  background: #fff;
  min-height: 60vh;
  margin: 0 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}

/* @media screen and (min-width: 1050px) {
  .side-menu li {
    font-size: 18px;
  }
} */

/*@media screen and (min-width: 940px) {
  .side-menu li span {
    display: none;
  }
  .side-menu {
    align-items: center;
  }
  .side-menu li img {
    width: 40px;
    height: 40px;
  }
  .side-menu li:hover {
    background: #f05462;
    padding: 8px 38px;
    border: 2px solid white;
  }
}*/

/*@media screen and (min-width: 536px) {
  .brand-name h1 {
    font-size: 16px;
  }
  .container .content .cards {
    justify-content: center;
  }
  .side-menu li img {
    width: 30px;
    height: 30px;
  }
  .container .content .content-2 .recent-payments table th:nth-child(2),
  .container .content .content-2 .recent-payments table td:nth-child(2) {
    display: none;
  }
}*/
