*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

body{
    background-color: #406564;
}

.container{
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}