<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Não possuo cadastro</title>

    
    <link rel="stylesheet" href="{{ url_for('static', filename='novo-cadastro.css') }}" />
    <script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='localization/messages_pt_BR.js') }}"></script>
    <script src="{{ url_for('static', filename='teste.js') }}"></script>
</head>

<body>
  <div class="container" id="form-container">
      <div class="form-container">
        
        <h3>Faça seu cadastro</h3>


        <form class="form" method="POST" action="/salvarUsuario" name="usuarioNovo" id="usuarioNovo">
          <input type="hidden" name="proxima2" value="{{proxima2}}" />
          <span id="reauth-email" class="reauth-email"></span>


          <div class="name">
            <label for="name" class="form-label"></label>
            <input type="text" id="name" name="name" autocomplete="off" class="form-control" placeholder="Digite seu nome"/>
          </div>


          <div class="sobrenome">
            <label for="lastname" class="form-label"></label>
            <input type="text" id="lastname" name="lastname" autocomplete="off" class="form-control" placeholder="Digite seu sobrenome" />
          </div>


          <div class="email">
            <label for="email" class="form-label"></label>
            <input type="email" class="form-control" id="email" autocomplete="off" name="email" placeholder="Digite seu email" />
          </div>


          <div class="senha">
            <label for="password" class="form-label"></label>
            <input type="password" class="form-control" id="password" autocomplete="off" name="password" placeholder="Digite sua senha" />
          </div>


          <button class="btn" type="submit">
            Cadastrar
          </button>


          <a class="sombra3" href="{{url_for('login')}}" id="sombra3">Eu já tenho uma conta</a>
        </form>
      </div>
  </div>
</body>
</html>





<!-- <div class="side-menu">
      <div class="brand-name">
        <h1>Finanças S.A</h1>
      </div>
      <ul>
        <li>
          <a href="{{ url_for('index')}}"
            ><img src="img/house-door-fill.svg" />&nbsp;Inicio</a
          >
        </li>
        <li>
          <a href="{{url_for('transacoes')}}"
            ><img src="img/arrow-up (1).svg" />&nbsp;Transações</a
          >
        </li>
        <li>
          <a href="{{url_for('despesas')}}"><img src="" />&nbsp;Despesas</a>
        </li>

        <li>
          <a href="#"><img src="img/person-fill.svg" />&nbsp;Minha conta</a>
        </li>
        <li>
          <a href="{{url_for('logout')}}"
            ><img src="img/x-lg.svg" />&nbsp;Sair</a
          >
        </li>
      </ul>
    </div> -->

<!-- <div class="form-floating mb-3">
              <input
                type="text"
                id="username"
                name="username"
                class="form-control"
                placeholder="Digite seu nome de usuário"
                required
              />
              <label for="username" class="form-label"
                >Digite seu nome de usuário</label
              >
            </div> -->

<!--<div class="col-12" id="link-container">
              <a class="link-prumary" href="{{url_for('login')}}"
                >Eu já tenho uma conta</a
              >
            </div>-->

<!-- <div class="col-md-6">
          <div class="row align-items-center">
            <div class="col-12">
              <img
                id="profile-img"
                class="profile-img-card"
                src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
              />
            </div>
            <div class="col-12" id="link-container">
              <a class="link-primary" href="{{url_for('login')}}" id="sombra"
                >Eu já tenho uma conta</a
              >
            </div>
          </div>
        </div> -->